//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW1N-UV1P5QN48XC7/I6
//Device: GW1N-1P5
//Device Version: C
//Created Time: Wed 12 10 11:11:58 2025

IO_LOC "led2" 28;
IO_PORT "led2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "q" 27;
IO_PORT "q" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "o_uart_tx" 34;
IO_PORT "o_uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i_rst" 35;
IO_PORT "i_rst" IO_TYPE=LVCMOS33 PULL_MODE=UP HYSTERESIS=L2H PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "i_clk" 4;
IO_PORT "i_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=3.3;
